@using System.Web.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShippingComp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("ShippingComp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navTabs" class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="nav nav-pills navbar-nav flex-grow-1 ">
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    <li id="ClientsTab" class="nav-item">@Html.ActionLink("Clients", "Index", "Client", new { area = "" }, new { @class = "nav-link " })</li>
                    <li id="ShipmentsTab" class="nav-item">@Html.ActionLink("Shipments", "Index", "Shipment", new { area = "" }, new { @class = "nav-link" })</li>
                    <li id="InvoicesTab" class="nav-item">@Html.ActionLink("Invoices", "Index", "Invoice", new { area = "" }, new { @class = "nav-link" })</li>
                    <li id="PaymentsTab" class="nav-item" >@Html.ActionLink("Payments", "Index", "Payment", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <script src="~/Scripts/jquery-3.7.0.js"></script>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ShippingComp. 🚢⚓🚚🌍</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
